*{
    background-image:url('file:///C:/Users/Windows%2010/Desktop/Photos/phtotshop/Patterns-free-2013-jan-8.jpg');
}
body
{
    background:rgb(14,14,14);
    color: gold;
    padding:0px;
    font-family:'Courier New';
}

moris.hover
{
color:red;
}
charb.hover{
    color:red;
}
footer{
    color:gold;
    padding:0px;
    font-family:'Courier New';
}
a{
   
    color:green;
}
a{
    color:gold;
    font-size:19px;
}
